absl-py==0.7.1
astor==0.7.1
attrs==19.1.0
blis==0.2.4
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
dask==1.2.2
decorator==4.4.0
dill==0.2.9
ftfy==4.4.3
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ijson==2.3
joblib==0.13.2
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
ktext==0.40
Markdown==3.1
mock==3.0.5
more-itertools==7.0.0
msgpack==0.6.1
msgpack-numpy==0.4.4.2
multiprocess==0.70.7
murmurhash==1.0.2
networkx==2.3
numpy==1.16.3
pandas==0.24.2
pathos==0.2.3
plac==0.9.6
pox==0.2.5
ppft==1.6.4.9
preshed==2.0.1
protobuf==3.7.1
pyarrow==0.13.0
pyemd==0.5.1
Pyphen==0.9.5
pyrsistent==0.15.2
python-dateutil==2.8.0
python-Levenshtein==0.12.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
scikit-learn==0.21.0
scipy==1.2.1
six==1.12.0
spacy==2.1.4
srsly==0.0.5
tensorboard==1.13.1
tensorflow==2.5.0
tensorflow-estimator==1.13.0
termcolor==1.1.0
textacy==0.6.2
thinc==7.0.4
toolz==0.9.0
tqdm==4.32.1
Unidecode==1.0.23
urllib3==1.24.3
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4